<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel = "icon" href="/img/icon1.png">
          <link rel = "stylesheet" href = "/css/styles.css">
        <script src = "js/app.js"></script>
    </head>
    <body>
     
     <div class = "main-content-header">
            {{>header}}
             <img class="imgClass" src = "img/wehether.jpg">
    </div>
 
     {{>footer}}
    </body>
</html>
